#app4{

}
@keyframes change{
    0%{
        background: paleturquoise;
    }
    100%{
        background: pink;
    }
}
#app4 .circle{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 1px solid paleturquoise;
}
#app4 .circle.active{
    animation: change 1s infinite alternate linear;
}